<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta charset="UTF-8">
    <title>Forex-AktÁr menü</title>
</head>
<body>

<nav>
    <a href="/fooldal">Főoldal menü</a> |
    <a href="/soap">SOAP menü</a> |
    <a href="/facc">Forex-account menü</a> |
    <a href="/faktar">Forex-AktÁr menü</a> |
    <a href="/fhistar">Forex-HistÁr menü</a> |
    <a href="/fnyit">Forex-Nyit menü</a> |
    <a href="/fpoz">Forex-Poz menü</a> |
    <a href="/fzar">Forex-Zár menü</a>
</nav>

<h1>Forex Aktuális Ár</h1>

<form th:action="@{/faktar}" th:object="${param}" method="post">
    <label for="instrument">Instrumentum:</label>
    <select id="instrument" th:field="*{instrument}">
        <option value="EUR_USD">EUR/USD</option>
        <option value="USD_JPY">USD/JPY</option>
        <option value="GBP_USD">GBP/USD</option>
        <option value="USD_CHF">USD/CHF</option>
    </select>
    <button type="submit">Lekérdez</button>
</form>

<hr>

<div th:if="${price != null}">
    <h2>Eredmény:</h2>
    <p><b th:text="'Instrumentum: ' + ${param.instrument}"></b></p>
    <p th:utext="${price}"></p>
</div>

</body>
</html>