<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Főoldal</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav>
    <a href="/fooldal">Főoldal menü</a> |
    <a href="/soap">SOAP menü</a> |
    <a href="/facc">Forex-account menü</a> |
    <a href="/faktar">Forex-AktÁr menü</a> |
    <a href="/fhistar">Forex-HistÁr menü</a> |
    <a href="/fnyit">Forex-Nyit menü</a> |
    <a href="/fpoz">Forex-Poz menü</a> |
    <a href="/fzar">Forex-Zár menü</a>
</nav>
<main class="container">
    <h1>SOAP menü</h1>
    <p>SOAP.</p>
</main>
</body>
</html>
